// TOOLS
// button
// ------------------





// MIXIN - BUTTON -- MINIMALIST
// =================================================
@mixin button--minimalist-line
	@include border





// MIXIN - BUTTON -- MINIMALIST
// =================================================
@mixin button--minimalist-backgroundColor
	@include border
	color: $color-light
	background-color: $color-black





// MIXIN - BUTTON -- COORPORATIVE
// =================================================
@mixin button--corporative
	background-color: $color-brand-1
