// TOOLS
// sticky
// ------------------





// MIXIN - STICKY
// =================================================
@mixin sticky
	.c-sticky
		height: 100%

		&__body
			height: 100%
			@include display(flex)
			@include flex-direction(column)

		&__content
			flex: 1 0 auto

		&__footer
			@include flex-shrink(0)