// SETTINGS - VARIABLES
// COLORS
// =================================================





// COLOR CORPORATIVE
// ------------------
$color-brand-1: #f39200
$color-brand-2: #6a6a6a



// GRAYSCALE
// ------------------
$color-white:  #fff
$color-light:  #ecf0f1
$color-ghost: lighten($color-light, 4.5%)
$color-silver: #bdc3c7
$color-gray: #444
$color-dark: #222
$color-black: #000



// STATUS
// ------------------
$color-error: tomato
$color-success: teal