// SETTINGS - VARIABLES
// COLORS
// =================================================





// COLOR CORPORATIVE
// ------------------
$color-brand-1: #f39200
$color-brand-2: #6a6a6a





// GRAYSCALE
// ------------------
$color-white: #FFFFFF
$color-ghost: #F2F2F2
$color-light: #E1E1E1
$color-silver: #B2B2B2
$color-gray: #808080
$color-metal: #404040
$color-carbon: #2A2A2A
$color-dark: #1F1F1F
$color-black: #000000
