// ELEMENTS
// form
// ------------------





// FORM
// =================================================
form
	overflow: hidden

fieldset
	margin-bottom: 30px

label
	margin-bottom: 5px
	display: inline-block
	@include font-size--em(1.4)
	color: $color-silver

textarea,
select,
input
	width: 100%
	padding: 10px
	@include font-size--em(2)
	border: 2px solid $color-silver
	background-color: $color-light-1


input
	&[type="submit"]
		width: auto
		float: right

	&[type="file"]
		@include font-size--em


textarea
	min-height: 200px

input
	&[type="submit"],
	&[type="reset"],
	&[type="button"]
		@extend .button
		@extend .button--color

button
	@extend .button





// MEDIA QUERIES
// =================================================
@include media('sm')
	input
		&[type="submit"]
			width: 100%
			float: none
