// ELEMENTS
// body
// ------------------





// BODY
// =================================================
html,
body
	height: 100%
	
body
	padding: 2rem
	position: relative
	background-color: $s-color-white
