// ELEMENTS
// body
// ------------------





// BODY
// =================================================
html,
body
	height: 100%
	
body
  	padding: 1rem 2rem
  	@include display(flex)
  	@include align-items(center)
  	@include justify-content(center)
  	background-color: $color-white