// ELEMENTS
// body
// =================================================





html,
body
	height: 100%
	
body
  	padding: 1rem 2rem
  	display: flex
  	align-items: center
  	justify-content: center
  	background-color: $color-white