// PAGES
// CALENDAR-1
// =================================================





.page-calendar-1
	.calendar
		width: 40rem
		margin: 0 auto

		&__year
			text-align: center
			font-size: 4rem
			font-weight: 700

		&__inner
			display: flex
			align-items: center
			overflow-y: hidden
			overflow-x: scroll

			&::-webkit-scrollbar 
				width: 1rem
				border-radius: 1rem
			
			&::-webkit-scrollbar-track 
				-webkit-box-shadow: inset 0 0 0.6rem rgba($color-black,0.3)
				border-radius: 1rem

			&::-webkit-scrollbar-thumb 
				background-color: $color-metal
				border-radius: 1rem
			
		&__month
			&:not(:last-child)
				margin-right: 3rem
				margin-bottom: 1rem
				
		// &__table
		
		&__title
			font-size: 3.2rem
		
		// &__header
		
		&__caption
			padding: 0.8rem
			
		// &__body
			
		&__cell
			padding: 0.8rem 0.4rem
			width: 5.4rem
			flex: 1
			text-align: center
			font-size: 1.6rem
			
		&__row
			display: flex
			justify-content: space-between
		
		// &__week

		&__weekend
			background-color: rgba($color-black, 0.1)
			
		// &__day
		
		&__today
			position: relative
			color: $color-white

			span
				position: relative
				z-index: 2
			
			&:before
				content: ''
				display: inline-block
				width: 4rem
				height: 4rem
				position: absolute
				top: calc(50% - 4rem/2)
				left: calc(50% - 4rem/2)
				z-index: 1
				border: 0.2rem solid $color-black
				border-radius: 50%
				background-color: $color-black

		&.is-show-months
			width: 100%

			+ .button__list .button-show-today
				display: none

			.calendar
				&__inner
					display: flex
					flex-wrap: wrap
					justify-content: center
					overflow-x: auto

				&__month
					margin: 1rem 3rem
	
		&__actions
			width: 45rem
			margin: 0 auto

			.button
				&__list
					display: grid
					grid-template-columns: repeat(2, minmax(0, 1fr))
					grid-gap: 1rem
					align-content: space-between
					justify-content: space-around