// PAGES
// CALENDAR-2
// =================================================





.page-calendar-2
	.calendar
		width: 40rem
		margin: 0 auto

		@include media('xs')
			width: 30rem

		&__inner
			display: flex
			align-items: center
			justify-content: center

		&__table
			display: flex
			flex-direction: column

		&__caption
			width: 100%
			display: flex
			justify-content: space-between
			align-items: center
			text-align: left
			padding: 0.5rem 1rem
			font-weight: bold

		&__title
			display: flex
			flex-direction: column
			font-weight: 700

		&__year-name
			font-size: 2rem

		&__month-name
			font-size: 3.2rem

		&__cell
			width: 5.4rem
			height: 3.5rem
			padding: 0.8rem 0.4rem
			text-align: center
			font-size: 1.6rem

			@include media('xs')
				width: 4rem
				font-size: 1.4rem

		&__weekend
			background-color: rgba($color-black, 0.1)

		&__today
			position: relative
			color: $color-white

			span
				position: relative
				z-index: 2

			&:before
				content: ''
				display: inline-block
				width: 4rem
				height: 4rem
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				z-index: 1
				border: 0.2rem solid $color-black
				border-radius: 50%
				background-color: $color-black

				@include media('xs')
					width: 3.5rem
					height: 3.5rem

		&__action
			width: 100%
			max-width: 30rem
			margin: 2rem auto 0

		&__navigation
			.list
				grid-template-columns: repeat(2, minmax(0, auto))

		&__button-prev,
		&__button-next
			width: fit-content
			padding: 0.4rem

			@include media('xs')
				border-width: 0.1rem
