// PAGES
// CALENDAR-1
// =================================================





.page-calendar-1
	.calendar
		width: 40rem
		margin: 0 auto

		@include media('xs')
			width: 30rem

		&__year
			text-align: center
			font-size: 4rem
			font-weight: 700

			@include media('xs')
				font-size: 2rem

		&__inner
			display: flex
			align-items: center
			overflow-y: hidden
			overflow-x: scroll

			&::-webkit-scrollbar
				width: 1rem
				border-radius: 1rem

			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 0.6rem rgba($color-black,0.3)
				border-radius: 1rem

			&::-webkit-scrollbar-thumb
				background-color: $color-metal
				border-radius: 1rem

		&__month
			&:not(:last-child)
				margin-right: 3rem
				margin-bottom: 1rem

		// &__table

		&__title
			font-size: 3.2rem

			@include media('xs')
				font-size: 2.5rem

		// &__header

		&__caption
			padding: 0.8rem

			@include media('xs')
				padding: 0 0.8rem

		// &__body

		&__cell
			padding: 0.8rem 0.4rem
			width: 5.4rem
			height: 3.5rem
			text-align: center
			font-size: 1.6rem

			@include media('xs')
				width: 4rem
				font-size: 1.4rem

		&__row
			display: flex
			justify-content: space-between

		// &__week

		&__weekend
			background-color: mix($color-black, $color-white, 10%)

		&__day
			position: relative

		&__number
			position: relative
			z-index: 2

		&__circle
			display: inline-block
			width: 4rem
			height: 4rem
			position: absolute
			top: calc(50% - 4rem/2)
			left: calc(50% - 4rem/2)
			z-index: 1
			border-radius: 50%
			border: 0.2rem solid transparent
			background-color: transparent

			@include media('xs')
				width: 3.5rem
				height: 3.5rem
				top: calc(50% - 3.5rem/2)
				left: calc(50% - 3.5rem/2)

		&__today
			.calendar
				&__number
					color: $color-white

				&__circle
					border-color: $color-black
					background-color: $color-black

		&__actions
			width: 100%
			max-width: 45rem
			margin: 0 auto

			@include media('xs')
				max-width: 30rem

			.button
				&__list
					display: flex
					flex-wrap: wrap
					align-content: space-between
					justify-content: space-around

					> *
						margin-bottom: 1rem

						@include media('xs')
							margin-bottom: 0.5rem

						&:nth-child(even)
							margin-left: 1rem
							margin-right: 1rem

							@include media('xs')
								margin-left: 0.5rem
								margin-right: 0.5rem

						&:nth-child(-n+3)
							flex: auto

							@include media('xs')
								flex: 1

						&:nth-last-child(-n+2)
							width: calc(50% - 0.5rem)
							margin: 0

							@include media('xs')
								width: 100%
								margin-bottom: 0.5rem

						&:last-child
							margin-left: 1rem
							margin-right: 0

							@include media('xs')
								margin-left: 0
								margin-bottom: 0

		&.is-show-months
			width: 100%

			+ .button__list .button-show-today
				display: none

			.calendar
				&__inner
					display: flex
					flex-wrap: wrap
					justify-content: center
					overflow-x: auto

				&__month
					margin: 1rem 3rem

@page
	margin: 0
	marks: none
	bleed: 0
	marks-offset: 0

@media print
	.page-calendar-1
		*
			color-adjust: exact !important
			-webkit-print-color-adjust: exact !important
			print-color-adjust: exact !important

		.header,
		.footer,
		.calendar__actions
			display: none

		.page
			&__main,
			&__section,
			&__body
				margin: 0
				padding: 0

		.calendar
			width: 100% !important

			&__year
				margin-bottom: 3rem
				font-size: 5rem

			&__inner
				display: flex
				flex-wrap: wrap
				justify-content: center
				overflow-x: auto

			&__month
				break-inside: avoid

			&__cell
				width: 5rem

			&__today
				.calendar
					&__number
						color: $color-black

					&__circle
						border-color: $color-black
						background-color: $color-white

@media print and (orientation: landscape)
	.page-calendar-1
		font-size: 42%

		.page
			&__container
				max-width: calc((40rem + 4rem) * 4)
				display: flex
				justify-content: center
				align-items: center

		.calendar
			&__month
				margin: 1rem 2rem !important

@media print and (orientation: portrait)
	.page-calendar-1
		font-size: 40%

		.page
			&__main
				margin-top: 20mm
				justify-content: flex-start

			&__container
				max-width: calc((40rem + 3rem) * 3)

		.calendar
			&__month
				margin: 2rem 1.5rem !important
