// PAGES
// CALENDAR-1
// =================================================





.page-calendar-1
	.calendar
		width: 40rem
		margin: 0 auto

		@include media('xs')
			width: 30rem

		&__year
			text-align: center
			font-size: 4rem
			font-weight: 700

			@include media('xs')
				font-size: 2rem

		&__inner
			display: flex
			align-items: center
			@include perfectScrollbar('x')

		&__month
			&:not(:last-child)
				margin-right: 3rem
				margin-bottom: 1rem

		&__title
			font-size: 3.2rem

			@include media('xs')
				font-size: 2.5rem

		&__caption
			padding: 0.8rem

			@include media('xs')
				padding: 0 0.8rem

		&__cell
			padding: 0.8rem 0.4rem
			width: 5.4rem
			height: 3.5rem
			text-align: center
			font-size: 1.6rem

			@include media('xs')
				width: 4rem
				font-size: 1.4rem

		&__row
			display: grid
			grid-gap: 0
			grid-template-columns: repeat(7,1fr)

		&__weekend
			background-color: mix($color-black, $color-white, 10%)

		&__day
			position: relative

		&__number
			position: relative
			z-index: 2

		&__circle
			display: inline-block
			width: 4rem
			height: 4rem
			position: absolute
			top: calc(50% - 4rem/2)
			left: calc(50% - 4rem/2)
			z-index: 1
			border-radius: 50%
			border: 0.2rem solid transparent
			background-color: transparent

			@include media('xs')
				width: 3.5rem
				height: 3.5rem
				top: calc(50% - 3.5rem/2)
				left: calc(50% - 3.5rem/2)

		&__today
			.calendar
				&__number
					color: $color-white

				&__circle
					border-color: $color-black
					background-color: $color-black

		&__action
			width: 100%
			max-width: 40rem
			margin: 2rem auto 0

		&__navigation
			.list
				grid-gap: 0.8rem

		&.is-show-months
			width: 100%

			.calendar
				&__inner
					display: flex
					flex-wrap: wrap
					justify-content: center
					@include perfectScrollbar('x', false)

				&__month
					margin: 1rem 3rem


// PRINT version
// We must convert the values into points (pt)

@page
	size: A4 landscape
	margin: 1cm !important
	padding: 0cm !important
	marks: none
	bleed: 0
	marks-offset: 0
	scale: 100%

@media print
	.page-calendar-1
		height: 100%
		width: 100%
		display: flex
		justify-content: center
		align-items: center

		*
			margin: 0
			padding: 0
			color-adjust: exact !important
			-webkit-print-color-adjust: exact !important
			print-color-adjust: exact !important

		.header,
		.footer,
		.calendar__action
			display: none

		.sticky
			&__body
				min-height: auto

		.page
			&__body,
			&__main,
			&__section
				width: 100%
				margin: 0
				padding: 0

			&__body
				max-width: #{297mm - 20mm}
				max-height: #{210mm - 20mm}
				font-size: convertUnit(10px, "pt")

			&__container
				max-width: 100%
				width: 100%

		.calendar
			width: 100% !important

			&__year
				margin-bottom: 5mm
				font-size: convertUnit(3rem, "pt")

			&__inner
				display: grid
				grid-gap: convertUnit(1rem, "in") convertUnit(3rem, "in")
				grid-template-columns: repeat(4, 1fr)
				justify-content: center
				align-items: flex-start
				@include perfectScrollbar('x', false)

			&__month
				margin: 0 !important

			&__table
				border-spacing: 0

			&__caption
				padding: 0

			&__title
				font-size: convertUnit(2rem, "pt")

			&__row
				display: grid
				grid-gap: 0
				grid-template-columns: repeat(7,1fr)

			&__cell
				width: inherit
				height: inherit
				padding: convertUnit(0.4rem, "in") 0
				font-size: convertUnit(1.5rem, "pt")

			&__circle
				display: none
