// TOOLS - MIXIN
// SCROLLBAR
// =================================================




// @mixin `perfectScrollbar` - Adds styles to show/hide the scroll created by `perfect-scrollbar` library.
// @param - @paramName `$direction` - @paramOptions x | y - @paramDescription The direction of the scrollbar.

@mixin perfectScrollbar($direction: 'y', $status: true)
	$thumb: $color-metal
	$track: rgba($color-black,0.3)
	$size: 1.5rem

	@if $direction != 'x' and $direction != 'y'
		@error "The $direction parameter must be 'x' or 'y'"

	@if $status == true
		&.ps
			position: relative
			-ms-overflow-style: none
			-webkit-overflow-scrolling: touch
			scrollbar-width: none

			.ps__rail-x,
			.ps__rail-y,
			.ps__thumb-x,
			.ps__thumb-y
				position: absolute
				display: none

			.ps__rail-x,
			.ps__rail-y
				align-items: center
				box-shadow: inset 0 0 0.6rem $track
				background-color: $color-white
				border-radius: $size

			.ps__thumb-x,
			.ps__thumb-y
				height: $size
				background-color: $thumb
				border-radius: $size

			.ps__rail-y
				width: $size
				height: 100%
				left: inherit !important
				right: 0 !important

			.ps__rail-x
				width: 100%
				height: $size
				top: inherit !important
				bottom: 0 !important

		&.ps--active-x
			padding-bottom: $size
			overflow-y: hidden
			overflow-x: auto
			transition: scroll-left 1s ease-out

			.ps__rail-x,
			.ps__thumb-x
				display: flex

		&.ps--active-y
			padding-right: $size
			overflow-x: hidden
			overflow-y: auto
			transition: scroll-top 1s ease-out

			.ps__rail-y,
			.ps__thumb-y
				display: flex

	@else
		&.ps
			&::-webkit-scrollbar
				display: none
				width: 0

		&.ps--active-x,
		&.ps--active-y
			padding: 0
			overflow: inherit

			.ps__rail-x,
			.ps__thumb-x,
			.ps__rail-y,
			.ps__thumb-y
				display: none

// @include perfectScrollbar()
// @include perfectScrollbar('x')
// @include perfectScrollbar('x', false)
// @include perfectScrollbar('y', false)
