// COMPONENTS
// header
// ------------------





// HEADER
// =================================================
.c-header
    width: 100%
    height: 6rem
    @include display(flex)
    @include justify-content(space-between)
    @include align-items(center)
    position: fixed
    top: 0
    left: 0

.c-header-nav
    &__list
        @include display(flex)
        font-size: 1.4rem

    &__item
        &:not(:last-child)
            margin-right: 2rem

    &__link
        &.is-active
            color: $color-brand-1
