// COMPONENTS
// link
// ------------------





// LINK
// =================================================
.c-link
	font-weight: bold
	color: $color-brand-2
	text-decoration: none

	&:hover
		color: darken($color-brand-1, 5%)
		text-decoration: none