// COMPONENTS
// form - required, form, fidelset, label, textarea, input, check, select
// ------------------





// REQUIRED
// =================================================
.c-required
	margin-left: 5px
	position: absolute
	top: -5px
	right: 0
	font-size: 2em
	color: $color-error





// FORM
// =================================================
.c-form
    &__group
        &:not(:last-child)
            margin-bottom: 15px
        
        &:only-child
            margin-bottom: 0
        
        &:not(:last-of-type)
            margin-bottom: 2rem





// TEXTAREA, SELECT, INPUT, FIELDSET
// =================================================
.c-textarea,
.c-select,
.c-input,
.c-check__mark
	width: 100%
	padding: 10px
	font-size: 1.2rem
	border: 2px solid $color-gray-75
	background-color: $color-gray-98

.c-textarea
	min-height: 200px

.c-fieldset
	margin-bottom: 3rem

.c-legend
    margin-bottom: 0.5rem
    font-size: 1.2rem
    color: $color-gray-30




// LABEL
// =================================================	        
.c-label
    width: 100%
    margin-bottom: 0.5rem
    display: inline-block
    font-size: 1.2rem
    color: $color-gray-30
        
    &--check
        margin-left: 0.5rem






// CHECKBOX
// =================================================
.c-check
    width: 100%
    height: $check-size
    margin-bottom: 12px
    padding-left: $check-size
    display: flex
    align-items: center
    position: relative
    font-size: 1rem
    user-select: none
    cursor: pointer
    
    &:not(:last-of-type)
        margin-bottom: 0.5rem
        
    /* On mouse-over, add a grey background color */
    &:hover
        .c-check__input ~ .c-check__mark
            background-color: darken($color-brand-1, 5%)
        
    /* Hide the browser's default checkbox */
    &__input
        position: absolute
        opacity: 0
        cursor: pointer
        height: 0
        width: 0
        
        /* When the checkbox is checked, add a blue background */
        &:checked ~ .c-check__mark
            background-color: $color-brand-1
            
        /* Show the checkmark when checked */
        &:checked ~ .c-check__mark:after 
            display: block
        
    /* Create a custom checkbox */
    &__mark
        position: absolute
        top: 0
        left: 0
        height: $check-size
        width: $check-size
        border-width: 2px
        border-style: solid
        border-color: $color-gray-50
        background-color: $color-gray-98
        
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after
            $mark-icon-width: 8
            $mark-icon-height: 16
            content: ""
            display: none
            width: #{$mark-icon-width}px
            height: #{$mark-icon-height}px
            position: absolute
            top: calc(50% - #{$mark-icon-height/2}px)
            left: calc(50% - #{$mark-icon-width/2}px)
            border: solid $color-gray-100
            border-width: 0 3px 3px 0
            transform: rotate(45deg)





// SELECT
// =================================================
.c-select
	cursor: pointer

	&__wrapper
		position: relative

	&__arrow
		margin: 0
		position: absolute
		top: 50%
		right: 10px
		@include prefix(transform, translateY(-50%))
		font-size: 1.6rem
		color: $color-gray-95
		pointer-events: none