// COMPONENTS
// list
// ------------------





// LIST
// =================================================
.c-list
	ul
		margin: 4px 15px
		padding: 5px 10px

		li
			margin: 5px
			padding: 2px
	
	&--reset
		@include list-reset