// COMPONENTS
// footer
// ------------------





// FOOTER
// =================================================
.c-footer
    padding: 1rem 2rem
    text-align: center
    color: $s-color-white
    background-color: $s-color-brand-1