// COMPONENTS
// ICON
// =================================================





.icon
	width: 2rem
	height: 2rem
	display: flex
	align-items: center
	justify-content: center

	&__svg
		width: 100%
		height: 100%
		display: inline-block

	// &__use

	&--white
		.icon
			&__use
				fill: $color-white
