// COMPONENTS
// list
// ------------------





// LIST WITHOUT BULLETS
// =================================================
.c-list__no
	@include t-list-no





// LIST
// =================================================
.c-list
	.c-heading
		padding: 20px
		border-bottom: 1px solid $s-color-light-1

		.c-title
			text-transform: uppercase
			font-size: 16px
			font-weight: bold
			color: $s-color-brand-1

	.o-content
		padding: 20px

	&__item
		&:not(:last-child)
			padding-bottom: 15px
			margin-bottom: 15px
			border-bottom: 1px solid $s-color-light-1

		> *
			&:not(:last-child)
				margin-bottom: 5px

	.c-title
		font-weight: normal
		font-size: 16px
		text-transform: none
