// COMPONENTS
// icon
// ------------------





// ICON
// =================================================
.icon
	margin: 5px
	display: inline-block
	@include font-size--em

a.icon
	&:hover
		text-decoration: none
