// COMPONENTS
// footer
// ------------------





// FOOTER
// =================================================
.c-footer
    padding: 1rem 2rem
    text-align: center
    font-weight: 700
    color: $color-gray-98
    background-color: $color-brand-1