// COMPONENTS
// mng
// ------------------





// MNG
// =================================================
.c-mng
	max-width: 500px
	margin: 30px auto
	padding: 10px
	text-align: center
	font-size: 1.2em
	color: $color-gray-75
	background-color: $color-gray-98
	box-shadow: 0px 0px 20px rgba($color-gray-0, .1)

	&--error,
	&--success
		display: block

	&--error
		border-left: 8px solid $color-error

	&--success
		border-left: 8px solid $color-success
