// COMPONENTS
// page
// ------------------





// COMPONENTS - PAGE
// =================================================
.c-page
    height: 100%
    font-family: $font-1

    &__body
        height: 100%
        position: relative

    &__main
        padding-top: 8rem
        padding-bottom: 2rem

    &__wrapper
        @include display(flex)
        @include justify-content(space-between)

    &__item
        &:nth-child(1)
            flex: 1
        &:nth-child(2)
            flex: 2
