// COMPONENTS
// form - checkbox, select
// ------------------





// REQUIRED
// =================================================
.c-required
	margin-left: 5px
	position: absolute
	top: -5px
	right: 0
	font-size: 2em
	color: $s-color-error





// FORM GROUP
// =================================================
.c-form
	&__group
		&:not(:last-child)
			margin-bottom: 15px

		&:only-child
			margin-bottom: 0

	&__item
		margin-bottom: 10px

	&__label
		padding-right: 15px
		position: relative





// CHECKBOX
// =================================================
.c-checkbox
	&__group
		margin-bottom: 0
		@include t-display(flex)
		@include t-align-items(center)

		a
			text-decoration: underline
			display: inline
			color: $s-color-silver

	label
		margin-bottom: 0

	&__label
		margin: 0 0 0 10px
		cursor: pointer

	&__box
		position: relative

		input[type='checkbox']
			margin: 0
			opacity: 0
			position: absolute
			z-index: -1


// checkbox liquid
.c-checkbox__group--liquid
	$box: 40px

	.c-checkbox__box
		width: $box
		height: $box
		margin: 5px

		.c-form__field,
		svg
			width: 100%
			height: 100%

	.c-checkbox-liquid__circle
		width: $box
		height: $box
		position: relative
		top: 50%
		left: 50%
		@include t-prefix(transform, translate(-50%, -50%))
		@include t-prefix(transform-origin, 50% 50%)
		filter: url('#gooey')
		cursor: pointer

		&-outer
			width: $box
			height: $box
			border: 2px solid $s-color-silver
			border-radius: 100%

		&-inner
			width: 20px
			height: 20px
			position: absolute
			top: calc(50% - 10px)
			left: calc(50% - 10px)
			border-radius: 100%
			background: $s-color-brand-1
			@include t-animation(circleInnerOut 500ms cubic-bezier(0.85, 0, 0.2, 1) forwards)

			// interior
			&-1
				@include t-prefix(transform-origin, -12% -8%)

			// pedazos
			&-2
				@include t-prefix(transform-origin, -35% 50%)

			&-3
				@include t-prefix(transform-origin, 60% 130%)

			&-4
				@include t-prefix(transform-origin, 112% 90%)

			&-5
				@include t-prefix(transform-origin, 75% -30%)

	input:checked + .c-checkbox-liquid__circle
		@include t-prefix(transform-origin, 50% 50%)
		@include t-animation(circleIn 750ms linear)

	input:checked + .c-checkbox-liquid__circle .c-checkbox-liquid__circle-inner
		@include t-prefix(transform-origin, 50% -20%)
		@include t-animation(circleInnerIn 500ms cubic-bezier(0.85, 0, 0.2, 1))





// SELECT
// =================================================
.c-select
	&__wrapper
		position: relative

	&__arrow
		margin: 0
		position: absolute
		top: 50%
		right: 10px
		@include t-prefix(transform, translateY(-50%))
		@include t-font-size--em(1.6)
		color: $s-color-silver
		pointer-events: none

	select
		cursor: pointer
