// COMPONENTS
// BUTTON
// =================================================





.button
	padding: 1rem 1.5rem
	display: flex
	align-items: center
	justify-content: center
	text-transform: capitalize
	font-size: 1.4rem
	font-weight: 700
	line-height: 100%
	border: 0.2rem solid transparent
	outline: none
	background-color: transparent
	user-select: none
	cursor: pointer
	appearance: none
	transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s

	@include media('xs')
		font-size: 1.2rem
		padding: 0.8rem 1rem

	> *
		pointer-events: none

		&:not(:last-child)
			margin-right: 1rem

		&:only-child
			margin-right: 0

	&--icon
		padding: 0

	&--bg-black
		color: $color-white
		background-color: $color-black

		.icon
			&__use
				fill: $color-white

		&:hover
			background-color: mix($color-white, $color-black, 25%)

	&--line-black
		color: $color-black
		border-color: $color-black

		.icon
			&__use
				fill: $color-black

		&:hover
			color: $color-white
			background-color: $color-black

			.icon
				&__use
					fill: $color-white

.button-show-months
	> *
		&:not(:last-child)
			margin-right: 0

	&__all
		display: inline-block

	&__one
		display: none

	&.is-change-text
		.button-show-months
			&__all
				display: none

			&__one
				display: inline-block

.button-print
	.icon
		width: 4rem
		height: 4rem
