// COMPONENTS
// available-color
// ------------------





// AVAILABLE COLOR 
// =================================================   
.c-available-color
    &--0
        background-color: $color-red
    &--1
        background-color: $color-orange
    &--2
        background-color: $color-green