
// COMPONENTS
// calendar
// ------------------





// CALENDAR
// =================================================
.calendar
	&__wrapper
		height: 100%
		@include display(flex)
		@include justify-content(center)
		@include align-items(center)

	&__year
		text-align: center
		font-size: 2.2rem
		font-weight: 700

	&__inner
		display: flex
		align-items: center
		overflow-y: hidden
		overflow-x: scroll

	&__month
		




.calendar-month
	margin-top: 0.8rem
	padding: 1rem
	background-color: $color-gray-98

	&:not(:last-child)
		margin-right: 3rem

	&__name
		margin-right: 0.2rem
		font-size: 2rem

	&__week
		padding: 0.5rem
		
	&__day
		width: 30px
		height: 30px
		margin: 0 auto
		padding: 20px
		@include display(flex)
		@include justify-content(center)
		@include align-items(center)
		border-radius: 50%
		border: 3px solid transparent

	&__today
		border: 3px solid $color-brand-1


.calendar-table
	position: relative
	
	&__caption
		padding: 0.5rem
		font-size: 2rem

	&__head

	&__body
		
	&__foot
		width: 100%;
		height: 62px;
		padding: 0.5rem;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 2rem;

	&__row

	&__cell
		padding: 0.2rem
		text-align: center



.calendar-nav
	width: 100%
	height: 100%
	top: 0
	left: 0
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);

	&__button
		margin: 0 1rem
		font-size: 2rem
		cursor: pointer

		&:hover
			border-color: darken($color-brand-1, 5%)

	&__next,
	&__prev
		content: ''
		display: inline-block
		width: 20px
		height: 20px
		border-color: $color-gray-40
		border-style: solid

	&__next
		margin-right: 2rem
		border-width: 4px 4px 0 0
		@include prefix(transform, rotate(45deg))

	&__prev
		margin-left: 2rem
		border-width: 4px 0 0 4px
		@include prefix(transform, rotate(-45deg))