// COMPONENTS
// box
// ------------------





// BOX
// =================================================
.c-box
    width: 400px
    margin: 0 auto
    padding: 30px
    background-color: $color-gray-95